Repository OpenSmock/Molecule, pull requests merged in 2023-10, with the labels that each got.

#103 Update test to check if the "dirty type" is realy dirty + works after Pharo 11 patch
  Molecule-Tests/MolDirtyComponentTest.class.st
  Molecule-Tests/MolDirtyType.trait.st
Labels: bug, enhancement

#112 Cannot load Pyramid-Examples #89
  src/Molecule-Examples-Pyramid-Incubator/PyMolSwitch.class.st
Labels: bug, incubator

#113 Documentation
  documentation/Connecting two components.md
  documentation/Create a new Molecule component.md
  documentation/Creating Events.md
  documentation/Creating Notifiers.md
  documentation/Creating Parameters.md
  documentation/Creating Producers.md
  documentation/Creating Services.md
  documentation/Facilitating tests.md
  documentation/Home.md
Labels: documentation
